.container{

    margin: 15px;
    
}

table {
    width: 100%;

}
mat-form-field{
    width: 100%;
}
.button-up{
    display: flex;
    margin-bottom: 2rem;

}

.mat-mdc-raised-button.mat-create {
    --mdc-protected-button-container-color: #fff;
    --mdc-protected-button-label-text-color: #25248a;
    width: 100%;
}
h1{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.edit{
    color: #1c7bda;
}
.delete{
    color: #a93f38;
}
a{
    cursor: pointer ;
}